<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<body>
  <div class="main">
    <img src="<%= self %>" alt="" class="self">
    <div class="header">
      <h2><%= greeting %></h2>
    </div>
  </div>
  <br>
    <hr>
  <br>
  <div class="info">
    <h4>My skills are:</h4>
    <ul>
      <% for (skill in skills){ %>
        <li><%= skills[skill] %></li>
      <% } %>
    </ul>
    <h4>My hobbies are:</h4>
    <ul>
      <% for (hobby in hobbies){ %>
        <li><%= hobbies[hobby] %></li>
      <% } %>
    </ul>
  </div>
  </body>
</html>
